.flex--gap{
    display: flex;
    flex-wrap: wrap;
    row-gap: 11px;
}

.btn--second{
    --font-size: 15px;
    font-size: var(--font-size);
    line-height: var(--font-size);
    color: var(--typo-color-5);
    background-color: var(--typo-color-white);
    border: 1px solid var(--typo-color-5);
    border-radius: 5px;
    display: block;
    width: min(402px, 100%);
    margin: 0 auto;
    padding: 13px 10px;
}