.form--input-cus{
    width: 100%;
    position: relative;
}

.form--input-cus input{
    font-size: 18px;
    line-height: 18px;
    display: block;
    border: 1px solid #DDD;
    background-color: #F8F8F8;
    padding: 21px 28px;
    outline: none;
    width: 100%;
    cursor: pointer;
}

.form--input-cus input::placeholder{
    visibility: hidden;
    opacity: 0px;
}

.form--input-cus label{
    --font-size:18px;
    font-size: var(--font-size);
    line-height: var(--font-size);
    color: #37393F;
    padding: 0px 5px;
    background-color: #F8F8F8;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    transition: 0.2s ease-out;
    cursor: pointer;
}

.form--input-cus:has(input:focus) label,
.form--input-cus:has(input:not(:placeholder-shown)) label{
    --font-size:14px;
    top: 0px;
}